[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
opencv-python = "*"
scipy = "*"
scikit-learn = "*"
scikit-image = "*"
matplotlib = "*"
pyntcloud = "*"
pythreejs = "*"
ipython = "*"
fuzzywuzzy = "*"
requests = "*"
tensorflow = "*"
h5py = "*"
keras = "*"
fastapi = "*"
uvicorn = {version = "*", extras = ["standard"]}

[dev-packages]

[requires]
python_version = "3.10"
